{
  "parser": "babel-eslint",
  "env": {
  	"browser": true,
  	"node": true
  },
  "plugins": [
    "babel",
    "import"
  ],
  "rules": {
  	/* http://eslint.org/docs/rules/#possible-errors */
    "comma-dangle": [2, "always"],
    "no-cond-assign": 2,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 2,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 2,
    "valid-typeof": 2,

    /* http://eslint.org/docs/rules/#best-practices */
    "accessor-pairs": 1,
    "block-scoped-var": 1,
    "complexity": 1,
    "consistent-return": 1,
    "curly": 1,
    "default-case": 1,
    "dot-location": 1,
    "dot-notation": 1,
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 1,
    "no-case-declarations": 1,
    "no-div-regex": 1,
    "no-else-return": 1,
    "no-empty-label": 1,
    "no-empty-pattern": 1,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-implicit-coercion": 1,
    "no-implied-eval": 1,
    "no-invalid-this": 1,
    "no-iterator": 1,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 1,
    "no-magic-numbers": 1,
    "no-multi-spaces": 1,
    "no-multi-str": 1,
    "no-native-reassign": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-new": 1,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-param-reassign": 1,
    "no-process-env": 0,
    "no-proto": 1,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-script-url": 1,
    "no-self-compare": 1,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unused-expressions": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-void": 1,
    "no-warning-comments": 1,
    "no-with": 1,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": 1,
    "yoda": 1,

    /* http://eslint.org/docs/rules/#strict-mode */
    "strict": [2, "global"],

    /* http://eslint.org/docs/rules/#variables */
    "init-declarations": 0,
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,

    /* http://eslint.org/docs/rules/#stylistic-issues */
    "camelcase": 1,
    "eol-last": 1,
    "indent": [1, "tab"],
    "jsx-quotes": 1,
    "max-len": [1, 120, 4],
    "new-cap": 1,
    "no-array-constructor": 2,
    "no-bitwise": 1,
    "no-continue": 1,
    "no-lonely-if": 1,
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-negated-condition": 1,
    "no-nested-ternary": 1,
    "no-new-object": 1,
    "no-plusplus": 0,
    "no-spaced-func": 1,
    "no-unneeded-ternary": 1,
    "require-jsdoc": 0, // if ever this should be docummented more properly
    "semi": [2, "always"],
    "sort-vars": 1,
    "space-after-keywords": 1,
    "space-before-blocks": 1,

    "import/no-unresolved": [2, {"commonjs": true, "amd": false}],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,

    /* babel plugin https://github.com/babel/eslint-plugin-babel#rules */
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    // "babel/array-bracket-spacing": 1,
    "babel/object-curly-spacing": 1,
    "babel/object-shorthand": 0,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1
  }
}